.btnHome {
    cursor: pointer;
    border-radius: 6px;
    background-color: #be314400;
    border: 1px solid #E34310;

    color: #E34310;
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 30px;
}

.btnHome:hover {
    border: 1px solid #fff;
    color: #fff;
    transition: ease-in 0.3s;
}