@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar {
  width: 100vw;
  background: rgba(3, 3, 3, 0.65);
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
}

.list {
  width: 100vw;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 109px
}

.item a {
  color: #ffff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.item a:hover {
  color: #E34310;
  transition: 0.5s;
}